<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <p>Feedback? Create an issue on the <a href="{{ site.repos[0].url }}">Fork this Project on GitHub</a></p>
        <p>Have an idea? Read our <a href="{{ site.repos[0].url }}/blob/gh-pages/CONTRIBUTING.md">Contribution Guidelines</a></p>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <a href="#">Return to top</a>
        <p>As a work of the United States government, this project and all content is licensed <a href="{{ site.repos[0].url }}/blob/gh-pages/LICENSE.md"> CC0 International Public Domain</a>.</p>
        <address>
          <img class="usa-footer-logo-img" src="{{ site.baseurl }}/assets/img/datagov.svg" alt="Data.gov Logo">
        </address>
      </div>
    </div>
  </div>
</footer>
