<div class="usa-grid">
  <div class="usa-width-one-half">
    <p>Feedback? Create an issue on the <a href="{{ site.repos[0].url }}">GitHub</a> or email us at <a href="mailto:datagov@gsa.gov">Datagov@gsa.gov</a>.</p>
    <p>Have an idea? Read our <a href="{{ site.repos[0].url }}/blob/gh-pages/CONTRIBUTING.md">Contribution Guidelines</a>.</p>
  </div>
  <div class="usa-width-one-half usa-end-row">
    <p>As a work of the United States government, this project and all content is licensed <a href="{{ site.repos[0].url }}/blob/gh-pages/LICENSE.md"> CC0 International Public Domain</a>.</p>
  </div>
</div>
