{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a href="{{ site.baseurl }}/getting-started/">Getting started</a>
      </li>
      <li>
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="{{ site.baseurl }}/"></a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#typefaces">Typefaces</a>
              </li>
            </ul>
          </li>
        </ul>  
      </li>
    </ul>
  </nav>
</aside>
