{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a href="{{ site.baseurl }}/about/">About</a>
      </li>
      <li>
        <ul class="usa-sidenav-sub_list">
          {% for sections in site.collections.system %}
          <li>
            <a href="{{ site.baseurl }}/"></a>
            <ul class="usa-sidenav-sub_list">
              <li>
                {:toc}
              </li>
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</aside>
